*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color:#f6f7f8;
    overflow: hidden;}
  /* custom scrollbar  */
        .chat-container::-webkit-scrollbar {
            width: 0.405rem;
        }

        .chat-container::-webkit-scrollbar-track {
            background:white ;

        }

        .chat-container::-webkit-scrollbar-thumb {
            background:#13b8ff86;

        }
.container{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
flex-direction: column;
padding: 20px;
position: relative;
}
body .ri-close-fill{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #13b8ff;
    font-size: 1.3rem;
    z-index: 10000;
    cursor: pointer;
}
body .ri-close-fill:hover{
    transform: scale(1.2);
}
.container h1{
    font-size: 6vw;
    background:linear-gradient(to right,#2DA8C2,#56BC47,#00097D);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* opacity: 0.6; */
}
.container h2{
    color: #00097D;
    font-size: 3vw;
    opacity: 0.6;
}
.prompt-area{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f6f7f8;

}
#prompt{
    width: 80%;
    height: 40%;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 30px 0px 0px 30px;
    font-size: 15px;
    color: rgb(82, 82, 82);
}
#btn{
    width: 13%;
    height: 40%;
    background-color:#13b8ff;
    border: none;
     border-radius: 0px 30px 30px 0px;
   cursor: pointer;
   transition: 0.5s all;
}
#btn:hover{
    background-color: #1097d0;
}
#btn i{
    color: white;
    font-size: 1.2rem;
}
.chat-container{
    width: 100%;
    max-height: calc(100vh - 120px);
    display: grid;
    overflow-y: scroll;
    grid-template-columns: 1fr;
padding-top: 1.5rem;}

.user-chatbox {
  max-width: 81%; 
  margin-right: 0px;
  margin-left: auto; 
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  gap: 0.5rem;
}
/* .user-chatbox{
   min-width: 50%;
    align-self:end;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr fit-content(200px) 2fr fit-content(200px);
    gap: 0.5rem;
} */
.user-chatbox p{
    background-color: #13b8ff;
    padding: 15px;
    border-radius: 20px 20px 0px 20px;
    width: 100%;
    font-size: 15px;
}
.user-chatbox>.img{
    flex-shrink: 0;
    order: 2;
    place-self: end;
}

.ai-chatbox {
    margin-left: 0px;
    margin-right: auto;
  max-width: 90%;
  justify-self: start;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto; 
  align-items: center;
  gap: 0.5rem;
}
/* .ai-chatbox{
     width: 50%;
    display: flex;
    gap: 0.5rem;
} */
.ai-chatbox>.img{
   place-self: end;

}
.ai-chatbox .text-box>p{
    font-size: 16px;
}
.ai-chatbox .text-box{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #DDD;
    padding: 15px;
    border-radius: 20px 20px 20px 0px;
}
@media  (max-width:450px) {
    .ai-chatbox, .user-chatbox{
        max-width: 90%;
    }
    .ai-chatbox img {
        width: 40px;
        height: 40px;
    }
    .user-chatbox img{
        width: 30px;
        height: 30px;
    }
}